.profile__pic {
    border-radius: 50%;
    width: 120px;
    margin: 0 0 22px 0;
    aspect-ratio: 120/120;
    object-fit: cover;
    justify-self: center;
}

@media screen and (min-width: 768px) {
    .profile__pic {
        justify-self: start;
        margin-right: 22px;
        margin-bottom: 4px;
    }
}