.profile__pic {
    border-radius: 50%;
    max-width: 120px;
    margin: 0 0 22px 0;
    object-fit: contain;
    justify-self: center;
    grid-area: image;
}

@media screen and (min-width: 768px) {
    .profile__pic {
        justify-self: start;
        margin-right: 22px;
        margin-bottom: 4px;
    }
}